<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent</title>
</head>
<body>
    <h2>Thank you for signing up!</h2>
    <p>We've sent a verification email to your inbox. Please check your email and click the verification link to complete your sign-up process.</p>

    <p>If you haven't received the email, <a href="#">click here to resend it</a> or <a href="login">Log in</a>.</p>
</body>
</html>
